:root {
    --width-input: clamp(10.75rem, 7.5vw + 7.469rem, 13.75rem);
}

* {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff2'),
        url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

.maximal-width {
    max-width: 1340px;
    margin: auto;
}

.general-padding-width {
    padding-left: 120px;
    padding-right: 120px;
}

body {
    background-color: #11415c;
    color: white;
}

header {
    background-color: #092129;
    margin: 0;
    height: 200px;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    height: 160px;
    width: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 360px);
}

.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    position: relative;
    height: 26px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px 0 0 8px;
}

#search-btn {
    font-size: 14px;
    height: 26px;
    width: 80px;
    padding: 4px;
    box-sizing: border-box;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: white;
    margin-left: 4px;
}

#search-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#search-btn:disabled {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.4);
    cursor: unset;
}

#search-input,
#dropdown-suggestions {
    width: var(--width-input);
}

#dropdown-suggestions {
    align-self: flex-start;
    position: absolute;
    margin-top: 5px;
    border-radius: 2px;
    background-color: white;
    color: black;
    border-radius: 8px 0px 8px 8px;
    z-index: 10;
    margin-top: 31px;
}

#dropdown-suggestions p {
    margin: 0;
    padding: 4px;
    font-size: 14px;
}

#dropdown-suggestions p:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.grid-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;

}

.load {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

#load-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #ffffff;
}

#load-btn:hover {
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.4);
}

#back-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #ffffff;
}

#back-btn:hover {
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: #092129;
    color: white;
    height: 160px;
}

.footer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a:hover {
    text-decoration: underline;
}

.footer-container p {
    margin: 8px;
    text-align: center;
}

/* Type Icons from Let's Go Evoli/Pikachu */
.type-all {
    width: 100px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.type-normal {
    background-image: url('./assets/img/types-viii-png/1.png');
}

.type-fighting {
    background-image: url('./assets/img/types-viii-png/2.png');
}

.type-flying {
    background-image: url('./assets/img/types-viii-png/3.png');
}

.type-poison {
    background-image: url('./assets/img/types-viii-png/4.png');
}

.type-ground {
    background-image: url('./assets/img/types-viii-png/5.png');
}

.type-rock {
    background-image: url('./assets/img/types-viii-png/6.png');
}

.type-bug {
    background-image: url('./assets/img/types-viii-png/7.png');
}

.type-ghost {
    background-image: url('./assets/img/types-viii-png/8.png');
}

.type-steel {
    background-image: url('./assets/img/types-viii-png/9.png');
}

.type-fire {
    background-image: url('./assets/img/types-viii-png/10.png');
}

.type-water {
    background-image: url('./assets/img/types-viii-png/11.png');
}

.type-grass {
    background-image: url('./assets/img/types-viii-png/12.png');
}

.type-electric {
    background-image: url('./assets/img/types-viii-png/13.png');
}

.type-psychic {
    background-image: url('./assets/img/types-viii-png/14.png');
}

.type-ice {
    background-image: url('./assets/img/types-viii-png/15.png');
}

.type-dragon {
    background-image: url('./assets/img/types-viii-png/16.png');
}

.type-dark {
    background-image: url('./assets/img/types-viii-png/17.png');
}

.type-fairy {
    background-image: url('./assets/img/types-viii-png/18.png');
}

.type-unknown {
    background-image: url('./assets/img/types-viii-png/19.png');

}

/* Type colors similar to type icons */
.type-color-normal {
    background-color: #919AA2;
}

.type-color-fighting {
    background-color: #CE416B;
}

.type-color-flying {
    background-color: #8FA9DE;
}

.type-color-poison {
    background-color: #AA6BC8;
}

.type-color-ground {
    background-color: #D97845;
}

.type-color-rock {
    background-color: #C5B78C;
}

.type-color-bug {
    background-color: #91C12F;
}

.type-color-ghost {
    background-color: #5269AD;
}

.type-color-steel {
    background-color: #5A8EA2;
}

.type-color-fire {
    background-color: #FF9D54;
}

.type-color-water {
    background-color: #5090D6;
}

.type-color-grass {
    background-color: #63BC5A;
}

.type-color-electric {
    background-color: #F4D23C;
}

.type-color-psychic {
    background-color: #FA7179;
}

.type-color-ice {
    background-color: #73CEC0;
}

.type-color-dragon {
    background-color: #0B6DC3;
}

.type-color-dark {
    background-color: #5A5465;
}

.type-color-fairy {
    background-color: #EC8FE6;
}

.type-color-unknown {
    background-color: #018292;
}

.unknown-main {
    background-image: linear-gradient(to bottom, #082039, #018292);
    width: 100%;
    display: flex;
    justify-content: center;
}

.unknown-main img {
    margin: 0;
}

/* Impress */
.main-impress {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pp {
    margin-bottom: 16px;
}

/* Privacy Policy */
.break {
    word-break: break-word;
    overflow-wrap: anywhere;
}