:root {
    --width-input: clamp(10.75rem, 7.5vw + 7.469rem, 13.75rem);
}

* {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff2'),
        url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

.maximal-width {
    max-width: 1340px;
    margin: auto;
}

.general-padding-width {
    padding-left: 120px;
    padding-right: 120px;
}

body {
    background-color: #11415c;
    color: white;
}

header {
    background-color: #092129;
    margin: 0;
    height: 200px;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    height: 160px;
    width: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 360px);
}

.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    position: relative;
    height: 26px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px 0 0 8px;
}

#search-btn {
    font-size: 14px;
    height: 26px;
    width: 80px;
    padding: 4px;
    box-sizing: border-box;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: white;
    margin-left: 4px;
}

#search-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#search-btn:disabled {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.4);
    cursor: unset;
}

#search-input,
#dropdown-suggestions {
    width: var(--width-input);
}

#dropdown-suggestions {
    align-self: flex-start;
    position: absolute;
    margin-top: 5px;
    border-radius: 2px;
    background-color: white;
    color: black;
    border-radius: 8px 0px 8px 8px;
    z-index: 10;
    margin-top: 31px;
}

#dropdown-suggestions p {
    margin: 0;
    padding: 4px;
    font-size: 14px;
}

#dropdown-suggestions p:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.grid-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;

}

.load {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

#load-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #ffffff;
}

#load-btn:hover {
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.4);
}

#back-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #ffffff;
}

#back-btn:hover {
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: #092129;
    color: white;
    height: 160px;
}

.footer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a:hover {
    text-decoration: underline;
}

.footer-container p {
    margin: 8px;
    text-align: center;
}

/* Type Icons from Let's Go Evoli/Pikachu */
.type-normal {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/1.png');
}

.type-fighting {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/2.png');
}

.type-flying {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/3.png');
}

.type-poison {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/4.png');
}

.type-ground {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/5.png');
}

.type-rock {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/6.png');
}

.type-bug {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/7.png');
}

.type-ghost {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/8.png');
}

.type-steel {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/9.png');
}

.type-fire {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/10.png');
}

.type-water {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/11.png');
}

.type-grass {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/12.png');
}

.type-electric {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/13.png');
}

.type-psychic {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/14.png');
}

.type-ice {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/15.png');
}

.type-dragon {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/16.png');
}

.type-dark {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/17.png');
}

.type-fairy {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/18.png');
}

.type-unknown {
    width: 96px;
    height: 32px;
    background-image: url('./assets/img/types-png/19.png');
}


/* Type colors similar to type icons */
.type-color-normal {
    background-color: #798B9A;
}

.type-color-fighting {
    background-color: #D64F76;
}

.type-color-flying {
    background-color: #4871C3;
}

.type-color-poison {
    background-color: #A343D5;
}

.type-color-ground {
    background-color: #D97644;
}

.type-color-rock {
    background-color: #AF9B63;
}

.type-color-bug {
    background-color: #90BE31;
}

.type-color-ghost {
    background-color: #4A56BA;
}

.type-color-steel {
    background-color: #B7B7CE;
}

.type-color-fire {
    background-color: #F89944;
}

.type-color-water {
    background-color: #259BD7;
}

.type-color-grass {
    background-color: #4CC571;
}

.type-color-electric {
    background-color: #F7D02C;
}

.type-color-psychic {
    background-color: #F86F75;
}

.type-color-ice {
    background-color: #55BCC5;
}

.type-color-dragon {
    background-color: #3E6EA2;
}

.type-color-dark {
    background-color: #705746;
}

.type-color-fairy {
    background-color: #F872D0;
}

/* Impress */
.main-impress {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pp {
    margin-bottom: 16px;
}

/* Privacy Policy */
.break {
    word-break: break-word;
    overflow-wrap: anywhere;
}