.card {
    height: 190px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.card-header {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: #092129;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header span {
    padding: 8px;
    font-weight: 700;
    font-size: 20px;
}

.card-main img {
    scale: 1.4;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    background-color: #092129;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.types {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;    
}