.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0;
}

.dialog-wrapper {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.dialog {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #092129;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-pokemons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav-pokemons span {
    font-size: 24px;
}

.nav-btn {
    background-color: #04171F;
    border: none;
    border-radius: 25px;
    width: 50px;
    color: white;
    position: relative;
}

.nav-btn:hover {
    background-color: #020e13;
}

.btn-prev {
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 8px;
    gap: 8px;
}

.btn-next {
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 12px 8px;
    gap: 8px;
}

.btn-icon-a {
    height: 4px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    border-radius: 2px;
}

.btn-icon-b {
    height: 4px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    border-radius: 2px;
}

.btn-icon-c {
    height: 4px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    transform: translateY(2px) rotate(-45deg);
    border-radius: 2px;
}

.btn-icon-d {
    height: 4px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-2px) rotate(45deg);
    border-radius: 2px;
}

.basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identity {
    width: 100%;
    display: flex;
}

.identity span {
    width: 100%;
    text-align: center;
    font-size: 44px;
    padding: 0 24px 12px 24px;
}

.dialoge-images {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 16px;

}

.types-dialog {
    width: 120px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    box-sizing: border-box;
}

.dialog-gif-wrapper {
    width: 125px;
    height: 125px;
    background-image: url('../img/1st-gen-pokedex-logo-no-text.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-gif {
    z-index: 6;
    object-fit: contain;
    max-width: 101px;
    max-height: 101px;
    scale: 1.4;
}

.dialog-gif:hover {
    cursor: pointer;
}

.nav-details {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

.nav-details-btn {
    font-size: 16px;
    border: none;
    background-color: rgba(77, 80, 82, 0.5);
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
}

.nav-details-btn.active,
.nav-details-btn:hover {
    background-color: rgba(77, 80, 82, 0.9);
    border-radius: 4px;
}

.detail-info-wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 224px;
    overflow-y: auto;
}

.detail-info-wrapper::-webkit-scrollbar {
    width: 10px;
}

.detail-info-wrapper::-webkit-scrollbar-track {
    background-color: rgba(77, 80, 82, 0.2);
    border-radius: 10px;
}

.detail-info-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(77, 80, 82, 0.5);
    border-radius: 10px;
}

.detail-info-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(77, 80, 82, 0.7);
}

.detail-info {
    border-radius: 8px;
    padding: 16px;
    margin: 0 16px 16px 16px;
}

#detail-info-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    font-family: sans-serif;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(77, 80, 82, 0.5);
    margin: -2px;
    padding: 4px 8px;
    border-radius: 4px;
}

.info-label {
    width: 20%;
}

.info-value {
    width: 55%;
}

.ability-list {
    margin: 0;
    padding-left: 16px;
}

.move-name {
    margin: -2px 24px -2px 34px;
    padding: 4px 8px;
    background-color: rgba(77, 80, 82, 0.5);
    border-radius: 4px;
}

@keyframes glow-zoom {
    0% {
        transform: scale(1) rotate(0deg);
        filter: drop-shadow(0 0 0px #ffffff);
    }

    50% {
        transform: scale(1.05) rotate(0deg);
        filter: drop-shadow(0 0 8px #ffffff);
    }

    100% {
        transform: scale(1) rotate(0deg);
        filter: drop-shadow(0 0 0px #ffffff);
    }
}

.glow {
    animation: glow-zoom 0.5s ease;
}

.range-value {
    background-color: #4D5052;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    width: 44px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 14px;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    z-index: 2;
  }

.range {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #092129;
    width: 200px;
    height: 19px;
    border-radius: 4px;
    overflow: hidden;
    --factor: 0.625%;
  }
  
  @keyframes load {
    to {
      width: var(--width);
    }
  }

  .range::before {
  --width: calc(var(--p) * var(--factor));
  content: '';
  position: absolute;
  top: 0;
  left: 31px;
  width: 0;
  height: 100%;
  border-radius: 3px 3px 3px 0;
  background-color: var(--bar-color, #333333);
  z-index: 1;
  animation: load 0.5s forwards linear;
}

.range__label {
  transform: skew(-30deg) translateY(-100%);
  line-height: 1.5;
}

/* Loading overlay */
.loading {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #092129;
    inset: 0;
    gap: 16px;
}

.loading span {
    margin-top: 16px;
    font-size: 24px;
    text-shadow: 1px 1px black;
}

/* spinner */
.loader-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

.loader-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/1st-gen-pokedex-logo-caps-large-bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.loader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 2;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 212px;
    height: 212px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-bottom-color: #FF3D00;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}