.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
}

.dialog-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.overflow-hidden {
    overflow: hidden;
}

.dialog {
    margin: 32px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #092129;
    border-radius: 16px;
}

.nav-pokemons {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.nav-btn {
    background-color: #04171F;
    border: none;
    border-radius: 25px;
    width: 50px;
}

.nav-btn {
    background-color: #04171F;
    border: none;
    border-radius: 25px;
    width: 50px;
}

.btn-prev {
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 8px;
    gap: 8px;
}

.btn-next {
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 12px 8px;
    gap: 8px;
}

.btn-icon-a {
    height: 4px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    border-radius: 2px;
}

.btn-icon-b {
    height: 4px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    border-radius: 2px;
}

.btn-icon-c {
    height: 4px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    transform: translateY(2px) rotate(-45deg);
    border-radius: 2px;
}

.btn-icon-d {
    height: 4px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-2px) rotate(45deg);
    border-radius: 2px;
}

.dialog-main {
    height: 100%;
}

.basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identity {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.identity span {
    padding: 16px;
}

.nav-details {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.detail-info {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 16px;
    padding: 16px;
}

.detail-info-wrapper {
    height: 50vh;
    min-height: 200px;
    overflow-y: auto;
}

.abilities {
    display: flex;
}

.abilities p {
    margin: 0;
}

.dialog-pic {
    max-width: 200px;
    max-height: 200px;
}

/* Loading overlay */
.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    inset: 0;
}

.loader {
    border: 24px solid #FFF;
    border-color: #FF3D00 #FF3D00 #fff #fff;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -125%);
    left: 50%;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}