.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
}

.dialog-wrapper {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.dialog {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #092129;
    border-radius: 16px;
}

.nav-pokemons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav-pokemons span {
    font-size: 24px;
}

.nav-btn {
    background-color: #04171F;
    border: none;
    border-radius: 25px;
    width: 50px;
}

.nav-btn {
    background-color: #04171F;
    border: none;
    border-radius: 25px;
    width: 50px;
}

.btn-prev {
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 8px;
    gap: 8px;
}

.btn-next {
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 12px 8px;
    gap: 8px;
}

.btn-icon-a {
    height: 4px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    border-radius: 2px;
}

.btn-icon-b {
    height: 4px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    border-radius: 2px;
}

.btn-icon-c {
    height: 4px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    transform: translateY(2px) rotate(-45deg);
    border-radius: 2px;
}

.btn-icon-d {
    height: 4px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-2px) rotate(45deg);
    border-radius: 2px;
}

.dialog-main {}

.basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identity {
    width: 100%;
    display: flex;
}

.identity span {
    width: 100%;
    text-align: center;
    font-size: 44px;
    padding: 0 24px 12px 24px;
}

.dialoge-images {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    gap: 60px;

}

.types-dialog {
    width: 120px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    /* padding: 12px 32px 24px 64px; */
    box-sizing: border-box;
}


.dialog-pic {
    z-index: 6;
    object-fit: contain;
    object-position: bottom;
    max-width: 120px;
    max-height: 101px;
    scale: 1.4;
}

.nav-details {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.nav-details-btn {
    border: none;
    background-color: unset;
    font-weight: 700;
    padding: 8px 0;    
    border-bottom: 2px solid rgba(0, 0, 0, 0);

}

.nav-details-btn:hover {
    border-bottom: 2px solid black;
}

.detail-info {
    color: black;
    border-radius: 16px;
    padding: 16px;
    margin: 0 16px 16px 16px;
}

.detail-info-wrapper {
    height: 240px;
    overflow-y: auto;
}

#detail-info-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    font-family: sans-serif;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.15);
    margin: -2px;
    padding: 4px 8px;    
    border-radius: 8px;
  }
  
  .info-label {
    /* font-weight: bold; */
    width: 45%;
    padding-right: 8px; /* Abstand zur rechten Spalte */
  }
  
  .info-value {
    width: 55%;
  }
  
  .ability-list {
    margin: 0;
    padding-left: 16px;
  }
  
  .move-name {
    margin: -2px 54px -2px 64px;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    font-weight: 500;
  }

/* Loading overlay */
.loading {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    inset: 0;
    gap: 16px;
}

.loading span {
    font-size: 24px;
    text-shadow: 1px 1px black;
}

/* alternativer spinner */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #FF3D00;
    border-left: 4px solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}