body {
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
}

button:hover {
    cursor: pointer;
}

.d-none {
    display: none;
}

.max-width-1440 {
    max-width: 1440px;
    margin: auto;
}

