body {
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
}

button:hover {
    cursor: pointer;
}

.d-none {
    display: none;
}

.max-width-1440 {
    max-width: 1340px;
    margin: auto;
}

.general-padding-width {
    padding-left: 120px;
    padding-right: 120px;
}

